*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


TaskAgile/app/.idea/
TaskAgile/app/.settings/
TaskAgile/app/src/main/resources/static/
TaskAgile/app/target/
TaskAgile/app/.classpath
TaskAgile/app/.factorypath
TaskAgile/app/app.iml
TaskAgile/app/.project
TaskAgile/app/.vscode/
TaskAgile/app/front-end/package-lock.json
TaskAgile/app/.project
TaskAgile/app/front-end/tests/e2e/data/user.js
