/* rset "utf-8"; */
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
button,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
strong,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
hr {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}
body {
  height: 100%;
  min-height: 100%;
  font-family: "Noto Sans Korean", "Malgun Gothic", "맑은고딕", "돋움", dotum,
    sans-serif;
  font-size: 16px;
  color: #737373;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
ol,
ul,
li {
  list-style: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
form,
fieldset,
iframe {
  display: block;
  border: 0;
}
img,
button {
  border: 0 none;
  vertical-align: top;
}
hr {
  height: 0;
  display: none;
}
i,
em,
address {
  font-style: normal;
}
label,
button {
  cursor: pointer;
}
blockquote,
q {
  quotes: none;
}
caption,
legend {
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
  text-indent: -100%;
  white-space: nowrap;
  z-index: -1;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
details,
menu,
figure,
figcaption {
  display: block;
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  font-family: "Noto Sans Korean", "Malgun Gothic", "맑은고딕", "돋움", dotum,
    sans-serif;
  font-size: 16px;
  color: #919090;
  line-height: 1.5;
  letter-spacing: 0;
  vertical-align: middle;
  border: none;
}
input,
textarea {
  margin: 0;
  padding: 0;
  background: none;
  box-sizing: border-box;
}
textarea {
  resize: none;
}
a {
  color: #919090;
  text-decoration: none;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.blind {
  display: none;
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999em;
  visibility: hidden;
  outline: none;
  z-index: -1;
}
html,
body {
  overflow: hidden;
  height: 100%;
}

* {
  box-sizing: border-box; /* 오페라(Opera) */
  -moz-box-sizing: border-box; /* 파이어폭스(Firefox)*/
  -webkit-box-sizing: border-box; /* 웹킷(Webkit) & 크롬(Chrome) */
}


header h1{
    padding: 10px 20px;
}

body {
    max-width: 970px !important;
}
.cart {
  padding: 20px 50px;
}
.boxes {
  margin-top: 20px;
}

.verify {
  margin-top: 20px;
}

.submit {
  margin-top:20px;
  float: right;
}

.pagecheckout {
  padding: 20px 50px;
}
.description {
  font-size: 150%;
  margin-top:50px;
}

.inventory-message {
  margin-left: 20px;
  font-weight: bold;
  font-size: 120%;
  display:inline-block;
}


.product {
  margin-top: 30px;
  margin-left: 20px;
  max-height:300px;
  max-width:100%;
}
.figure {

}

.rating-active:before {
   content: "\2605";
   position: absolute;
}
.rating {
  display: inline;
  margin-left: 10px;
  margin-top: 10px;
  float:right;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}
